@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flyInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    20%,
    60% {
        transform: translateX(0%);
    }
    45% {
        transform: translateX(-30%);
    }
    80% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes flyInFromRight {
    0% {
        transform: translateX(100%);
    }
    20%,
    60% {
        transform: translateX(0%);
    }
    45% {
        transform: translateX(30%);
    }
    80% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(0%);
    }
}
.animate-fly-in-from-left {
    animation: flyInFromLeft 1.7s ease-in-out forwards;
}

.animate-fly-in-from-right {
    animation: flyInFromRight 1.7s ease-in-out forwards;
}
.cursor {
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.type-wrap {
    display: inline-block;
    white-space: nowrap;
}
*::-webkit-scrollbar {
    background: rgb(40, 40, 40);
    width: 20px;
}

/* Track */
*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: #018cbe;
    border-radius: 10px;
}

@keyframes pulse {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(1000%, 0);
    }
}
.pulse {
    -moz-animation: pulse 0.5s linear infinite;
    -webkit-animation: pulse 0.5s linear infinite;
    animation: pulse 0.5s linear infinite;
}

.card-container {
    perspective: 1000px;
    width: 30%;
    max-width: 400px;
    min-height:450px; 
    height: auto;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.card:hover {
    transform: rotateY(180deg);
}

.card .card-front,
.card .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card .card-front {
    background-image: url("../js/assets/images/jakey.webp");
    background-size: cover;
    background-position: center;
}

.card .card-back {
    background-color: rgb(40, 40, 40);
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
